.job-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    
}

.job-info {
    width: 60%;
}

.logor {
    width: 30%;
    text-align: center;
    
}

